.custom-product-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: calc(16.875vw - 10px + 5.25rem + 60px);
}

.swiper-button-prev,
.swiper-button-next {
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.5rem;
    color: #46545e;
}

.swiper.custom-product-cards {
    height: calc(16.875vw - 10px + 5.25rem + 60px) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -75px;
}

.custom-product-cards .swiper-wrapper {
    height: calc(16.875vw - 10px + 5.25rem + 60px);
}

.swiper.custom-product-cards {
    height: calc(16.875vw - 10px + 5.25rem + 60px);
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    height: calc(16.875vw - 10px);
    width: calc(16.875vw - 10px);
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.product-card.swiper-slide,
.product-card {
    width: calc(16.875vw - 12.5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-color: #dee8e7;
    border-radius: 20px;
    position: relative;
}

h2.product-title {
    font-size: 1.75rem;
    font-weight: normal;
    color: #46545f;
    text-align: left;
}


h2.product-title {
    padding: 10px 0px 0px 5px;
    margin-bottom: 0px;
}

.product-price {
    padding: 10px 0px 0px 5px;
    font-size: 1.75rem;
    color: #dee8e7;
    text-align: left;
}

td.product-thumbnail {
    width: 220px !important;
    height: 200px !important;
}

td.product-thumbnail img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    height: 200px;
    width: 200px;
    min-width: 200px;
    border-radius: 20px;
}



.product-card .product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limits the text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adds '...' at the end of the second line */
}


.latest-arrivals .row {
    display: flex;
    gap: 20px;
    height: calc(16.875vw - 10px + 5.25rem + 60px);
}

.latest-arrivals .row:nth-child(3) {
    padding-right: 24.5%;
    gap: 20px;
}

.latest-arrivals {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.latest-arrivals .row:nth-child(1) .product-card:nth-child(1) {
    min-width: calc(22.5vw - 30px);
    height: calc(16.875vw - 10px + 5.25rem + 60px + 10rem + 20px);
    transform: translateY(calc(-10rem - 20px));
}

.latest-arrivals .row:nth-child(1) .product-card:nth-child(1) img {
    width: calc(22.5vw - 30px);
    height: calc(22.5vw - 30px);
}

.product-card.see-more-card {
    min-width: calc(22.5vw - 30px);
    height: calc((16.875vw - 10px + 5.25rem + 60px)* 2 + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: #f095b9;
    color: white;
    padding: 20px;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    gap: 40px;
}

.gallery-row img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: calc(22.5vw - 30px - 40px);
    height: calc(22.5vw - 30px - 40px);
    border-radius: 20px;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-recently-viewed-products .product-card.swiper-slide {
    max-width: calc(16.875vw - 10px);
    height: calc(16.875vw - 10px + 5.25rem + 60px);
}



@media screen and (max-width: 768px) {
    /* For mobile phones: */


    img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
        height: calc(50vw - 20px) !important;
        width: calc(50vw - 20px) !important;
    }

    .custom-product-cards {
        height: calc(50vw - 20px + 7rem + 60px);
        overflow: hidden;
    }

    .swiper.custom-product-cards {
        min-height: calc(50vw - 20px + 7rem + 60px);
        margin-top: 0px;
    }

    .custom-product-cards .swiper-wrapper {
        height: calc(50vw - 20px + 7rem + 60px);
    }

    .product-card {
        width: calc(50vw - 20px);
        height: fit-content;
    }


    .latest-arrivals .row:nth-child(1) .product-card:nth-child(1) {
        min-width: calc(50vw - 20px);
        height: calc(50vw - 20px + 7rem + 60px);
        transform: none;
    }

    .latest-arrivals .row .product-card {
        min-width: calc(50vw - 20px);
        height: calc(50vw - 20px + 7rem + 60px);
        transform: none;
    }

    .latest-arrivals .row:nth-child(1) .product-card:nth-child(1) img {
        width: calc(50vw - 20px);
        height: calc(50vw - 20px);
    }

    .latest-arrivals .row .product-card img {
        width: calc(50vw - 20px);
        height: calc(50vw - 20px);
    }

    .latest-arrivals .row {
        gap: 20px;
        height: calc(50vw - 20px + 7rem + 60px);
    }

    .latest-arrivals .row:nth-child(3) {
        padding-right: 0%;
    }

    .product-card.see-more-card {
        min-width: 0px;
        height: calc(50vw - 20px + 7rem + 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        background-color: #f095b9;
        color: white;
        padding: 20px;
    }

    .custom-recently-viewed-products .product-card.swiper-slide {
        max-width: calc(50vw - 10px);
    }

    img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
        height: auto;
        width: 100%;
        border-radius: 20px !important;
    }

    .product-thumbnail {
        min-width: 100%;
        padding: 0px;
    }


    .swiper.custom-recently-viewed-products .swiper-wrapper {
        height: calc(50vw - 20px + 7rem + 60px);
    }


    ul.shop_table.cart.wishlist_table.wishlist_view.responsive.mobile li {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.shop_table.cart.wishlist_table.wishlist_view.responsive.mobile {
        display: flex;
    }

    h3 {}

    .item-details {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 5px 0px 5px;
    }

    table.item-details-table {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    table.additional-info {
        width: fit-content;
    }

    .additional-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 5px 0px 5px;
    }

    .wishlist_table.mobile li .item-wrapper {
        width: calc(100% - 10px);
    }

}



@media screen and (max-width : 1024px) {
    .swiper.custom-product-cards {
        margin-top: 0px;
    }

    img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
        height: calc(25vw - 20px) !important;
        width: calc(25vw - 20px) !important;
    }

    .custom-product-cards {
        height: calc(25vw - 20px + 7rem + 60px);
        overflow: hidden;
    }

    .swiper.custom-product-cards {
        min-height: calc(25vw - 20px + 7rem + 60px);
        margin-top: 0px;
    }

    .custom-product-cards .swiper-wrapper {
        height: calc(25vw - 20px + 7rem + 60px);
    }

    .product-card {
        width: calc(25vw - 20px);
        height: fit-content;
    }


    .latest-arrivals .row:nth-child(1) .product-card:nth-child(1) {
        min-width: calc(25vw - 20px);
        height: calc(25vw - 20px + 7rem + 60px);
        transform: none;
    }

    .latest-arrivals .row .product-card {
        min-width: calc(25vw - 20px);
        height: calc(25vw - 20px + 7rem + 60px);
        transform: none;
    }

    .latest-arrivals .row:nth-child(1) .product-card:nth-child(1) img {
        width: calc(25vw - 20px);
        height: calc(25vw - 20px);
    }

    .latest-arrivals .row .product-card img {
        width: calc(25vw - 20px);
        height: calc(25vw - 20px);
    }

    .latest-arrivals .row {
        gap: 20px;
        height: calc(25vw - 20px + 7rem + 60px);
    }

    .latest-arrivals .row:nth-child(3) {
        padding-right: 0%;
    }

    .product-card.see-more-card {
        min-width: 0px;
        height: calc(25vw - 20px + 7rem + 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        background-color: #f095b9;
        color: white;
        padding: 20px;
    }

}